// Last Call Media branding variables for Foundation 6.
//
@import "foundation-sites/scss/util/util";

//
// **** Custom Properties (not Foundation variables) ****
//
$lcm-red: #FF3333;
$lcm-light-grey: rgb(245, 245, 245);
$lcm-dark-green: #00b233;
$lcm-dark-blue: #3f444f;
$lcm-google-fonts: "https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Source+Sans+Pro:300,700";

$museo-sans-font: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$pathway-gothic-one-font: "Pathway Gothic One",sans-serif;
$source-sans-pro-font: "Source Sans Pro",sans-serif;

//
// **** Foundation Properties ****
//
// Everything below here should be a !default so it can be overridden.
//
// Colors
$foundation-palette: (
        primary: $lcm-red,
        secondary: $lcm-dark-blue,
        success: #3adb76,
        warning: #ffae00, /* this is still the default */
        alert: $lcm-red,
) !default;
$medium-gray: #B3B3B3 !default;


$body-background: $lcm-light-grey !default;
$body-font-family: $museo-sans-font !default;

$anchor-color-hover: #e60000 !default;
$anchor-text-decoration-hover: underline !default;

$header-font-family: $pathway-gothic-one-font !default;
$header-font-weight: bold !default;

// Forms
$form-label-font-size: rem-calc(16) !default;

// Callouts
$callout-border: 1px solid rgba(0, 0, 0, 0.15) !default;

// Tabs
$tab-item-padding: 0.5rem 1.5rem !default;
$tab-item-font-size: .95rem !default;

// Topbar/Titlebar
$titlebar-background: $lcm-red !default;
$topbar-background: $lcm-red !default;;